<% provide(:title, "About") %>


<h1>About</h1>



<p>This blog should allow the user to:</p>
<ul>
    <li>Signup</li>
    <li>Login</li>
    <li>Create posts (only if logged in)</li>
    <li>Create comments (only if logged in)</li>
    <li>Send a message to webmaster</li>
    <li>Edit profile</li>
</ul>
